body{
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    counter-reset: score;
}
.phone{
    position: relative;
    border: 8px solid black;
    height: 600px;
    width: 300px;
    border-radius: 40px;
    background-color: #ccefff;
    box-shadow: 0 19px 30px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.layer-1{
        bottom: 0;
        height: 450px;
        position: absolute;
        right: 60px;
        width: 80px;
        animation-name: layer;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}
@keyframes layer{
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 0;
    }
}
.layer-1 input[type=checkbox] {
    animation-name: bunny;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: relative;
    top: 0;
    width: 80px;
    z-index: 2;
}
input:checked {
    counter-increment: score;
}
input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: relative;
    top: 0;
    width: 80px;
    z-index: 2;
 }
@keyframes bunny{
    0%{
        top: 0;
    }
    25%{
        top: 80px;
    }
    100%{
        top: 0;
    }
}

.layer-2{
    position: absolute;
    z-index:2;
    height: 450px;
    width: 80px;
    bottom: 0;
    left: 60px; 
    animation-name: layer;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;                            
}

.layer-3{
    background: var(--light-brown);
    border-radius: 20px;
    box-shadow: var(--shadow);
    bottom: 0;
    height: 400px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 220px;
    z-index: 3;
}
.layer-4{
    position: absolute;
    z-index:4;
    height: 350px;
    width: 80px;
    bottom: 0px;
    left: 15px;
    animation-name: layer;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite; 
}
.layer-5{
    background: var(--light-brown);
    border-radius: 20px;
    box-shadow: var(--shadow);
    bottom: 0;
    height: 300px;
    overflow: hidden;
    position: absolute;
    width: 200px;
    z-index: 5
}
.layer-6{
    position: absolute;
    z-index:6;
    bottom: 0;
    height: 250px;
    right: 30px;
    width: 80px;
    animation-name: layer; 
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}
.layer-7{
    background: var(--light-brown);
    border-radius: 20px;
    box-shadow: var(--shadow);
    bottom: 0;
    height: 200px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 150px;
    z-index: 7;
}
.layer-8{
    position: absolute;
    z-index:8;
    background-color: aquamarine;
    bottom: 0;
    height: 120px;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 200px;
}
.layer-9{
    position: absolute;
    z-index:9;
    background-color: aqua;
    bottom: 0;
    height: 100px;
    width: 120px;
}
.layer-10{
    position: absolute;
    z-index: 10;
    background-color: aquamarine;
    height: 100px;
    right: 0;
    bottom: 0;
    width: 120px;
}
.left-ear--outer{
    background: white;
    border-radius: 90%;
    top: 0;
    height: 50px;
    left: 10px;
    position: absolute;
    width: 20px;
}
.left-ear--inner{
    background: pink;
    border-radius: 90%;
    top: 8px;
    height: 50px;
    left: 15px;
    position: absolute;
    width: 10px;
}
.rigth-ear--outer{
    background: white;
    border-radius: 90%;
    top: 0;
    height: 50px;
    right: 10px;
    position: absolute;
    width: 20px;
}
.rigth-ear--inner{
    background: pink;
    border-radius: 90%;
    top: 8px;
    height: 50px;
    right: 15px;
    position: absolute;
    width: 10px;
}
.head{
    background-color: #fff;
    border-radius: 50%;
    height: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    width: 100%;
}
.head__eye{
    background-color: #000;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 15px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blink{
    0%{
        height: 4px;
    }
    5%{
        transform: translate(0px, 2px);
       height: 1px; 
    }
    10%{
        transform: translate(0px, 0px);
        height: 4px;
    }
}
.head__eye--left{
    left: 30px;
}
.head__eye--rigth{
    right: 30px;
}
.lawn {
    background: var(--dark-green);
    height: 20px;
    width: 100%;
}
.land {
    background: linear-gradient(135deg, var(--dark-green) 25%, transparent 25%) -50px 0, linear-gradient(-135deg, var(--dark-green) 25%, transparent 25%) -50px 0, linear-gradient(45deg, var(--light-brown) 25%, transparent 25%), linear-gradient(-45deg, transparent 25%, var(--dark-brown) 25%);
    background-size: 33px 30px;
    height: 30px;
    width: 100%;
  }
  .title {
    display: flex;
    justify-content: center;
    margin: 45px 0 10px;
}
.score {
    color: var(--light-brown);
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}
.score::after {
    content: counter(score);
}
  :root {
    --dark-brown: #a54a38;
    --light-brown: #bf624c;
    --dark-green: #51af5e;
    --light-green: #51af5e;
    --shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
img{
    width: 290px;
    height: 50px;
}
